@import "../../scss/variables";

.nav {
  background: white;
  border-right: 1px solid grey;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  right: 100%;
  width: 100%;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s;

  @media screen and (min-width: map-get($screen-sizes, md)) {
    flex-basis: 20rem;
    flex-shrink: 0;
    position: initial;
    right: initial;
    left: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s;
  }

  &.show {
    transform: translate3d(100%, 0, 0);
    transition: transform 0.3s;

    @media screen and (min-width: map-get($screen-sizes, md)) {
      transform: translate3d(0, 0, 0);
    }
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    list-style-type: none;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;

    li {
      padding: {
        bottom: 1rem;
        top: 1rem;
      }
    }
  }

  .recent-searches-container {
    height: 100%;
    overflow: auto;
  }
  .recent-searches {
    list-style-type: disc;

    li {
      padding: {
        bottom: 0.5rem;
        top: 0.5rem;
      }
    }

    a {
      color: grey;
      &:hover {
        color: lightgray;
      }
    }
    :global(a.active) {
      color: black;
    }
  }

  .menu-toggle {
    background: transparent;
    border: 0;
    height: 3rem;
    position: absolute;
    right: 1rem;
    width: 3rem;

    &:focus {
      outline: none;
    }

    @media screen and (min-width: map-get($screen-sizes, md)) {
      display: none;
    }
  }
}
