@import "../../scss/variables";

.gif-list {
  display: flex;
  flex-flow: row wrap;
  height: calc(100% - 4rem);
  list-style: none;
  overflow: auto;
  padding-left: 0;
  width: 100%;

  .gif-list-item {
    width: 100%;

    @media screen and (min-width: map-get($screen-sizes, sm)) {
      width: 50%;
    }

    @media screen and (min-width: map-get($screen-sizes, md)) {
      width: 33%;
    }

    @media screen and (min-width: map-get($screen-sizes, lg)) {
      width: 25%;
    }

    @media screen and (min-width: map-get($screen-sizes, xl)) {
      width: 20%;
    }
  }
}
