@import "../../scss/variables";

:global {
  @import "~normalize.css";
  @import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");

  html {
    font-size: 14px;
    height: 100%;
    width: 100%;
  }

  body {
    font-family: "Lato", sans-serif;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    @media screen and (min-width: map-get($screen-sizes, md)) {
      flex-direction: row;
    }
  }
}
